[Unit]
Description=Prometheus Monitoring System
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_user }}
Type=simple
ExecStart={{ prometheus_install_dir }}/prometheus \
    --config.file={{ prometheus_config_dir }}/prometheus.yml \
    --storage.tsdb.path={{ prometheus_data_dir }} \
    --storage.tsdb.retention.time={{ prometheus_retention_time }} \
    --web.listen-address=0.0.0.0:{{ prometheus_port }} \
    --web.console.templates={{ prometheus_config_dir }}/consoles \
    --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
    --web.enable-lifecycle
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
